body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 310px;
}


@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400,400italic,700,700italic&subset=latin,latin-ext,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,latin-ext,greek-ext,greek,vietnamese,cyrillic,cyrillic-ext);



.presentation_header {
    font-family: Roboto !important;
    font-weight: 200;
    font-style: normal;
    font-size: 80px;
    text-align: center;
}

.subtitulo {
    font-family: Roboto !important;
    font-weight: 200;
    font-style: normal;
    font-size: 40px;
    color: #0c0c0c;
    text-align: center;
}

@media (max-width: 801px) {
    .presentation_header {
        font-size: 18pt;
    }
}

.horizontal_line{
    height:1px;
    border:none;
    background-color:#dd3c3c;
    color:#dd3c3c;
    height:3px;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}



.horizontal_line {
    height: 1px;
    border: none;
    background-color: #dd3c3c;
    color: #dd3c3c;
    height: 3px;
}

.link_rojo {
    color: #dd3c3c;
    font-weight: bold;
}

    .link_rojo:hover {
        color: #be2a2a;
        font-weight: bold;
    }

}


.without_magin {
    margin: 0px;
}

.login_panel {
    width: 320px;
}

.icono_mediano {
    font-size: 17pt;
}



/*
    Se setea el color de la barra de navegacion
*/
.navbar-inverse {
       background-color: #5ba45b;
        border-color:#5ba45b;
}


/*
    Se setea el color del boton de colapso 
*/
.navbar-inverse .navbar-toggle {
    background-color: #5ba45b;
    border-color: #9bd99b;
}

/*
    Se setea el color del boton de colapso 
*/
.navbar-inverse .navbar-toggle:enabled {
    background-color: #5ba45b;
    border-color: #9ed89e;
}


/*
    El color de las letras de los hipervinculos de la barra de navegación se setean a un color mas
    claro
*/
.navbar-inverse .navbar-nav > li > a{
    color: #c0f3c0;
}


/*
    Se setea el color del boton de colapso cuando el puntero del mouse está sobre este
*/
.navbar-inverse .navbar-toggle:hover {
    background-color: #9bd99b;
    border-color: #c0f3c0;
}

/*
    Se setea el color del boton de colapso despues de ser oprimido
*/
.navbar-inverse .navbar-toggle::after {
    background-color: #9bd99b;
    border-color: #5ba45b;
}



/**
    Define de un color claro el hiperenlace principal de la pagina 
*/
.navbar .navbar-brand {
        color: #9ed89e;
}



.navbar-brand {
        padding: 13px 13px;
}


/*
    Setea el color del borde  boton de colapso de la barra de navegacion
*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    border-color: #5ba45b;
}



/*
    En la ventana de logeo algunos elementos deben separarse verticalmente
*/
.login_component {
    margin-top: 3px;
    width: 250px;
}

.auxiliar_component {
    max-width: 800px;
    min-width: 260px;
}

    .auxiliar_component > * {
        max-width: 750px;
        min-width: 250px;
        text-align: center;
        margin: 0px auto;
        margin-top: 3px;
    }

    .auxiliar_component > .form-group > * {
        max-width: 750px;
        min-width: 250px;
        text-align: center;
        margin: 0px auto;
        margin-top: 3px;
    }
    .auxiliar_component > .form-group > .form-control{
        max-width: 750px;
        min-width: 250px;
        text-align: left;
        margin: 0px auto;
        margin-top: 3px;
    }

/*
    Sirve para definir el tamanio de un formulario
*/
.formulario {
    max-width: 580px;
    min-width: 280px;
}


/*
    Representa una seccion del formulario de registro de usuario
*/
.seccion_formulario {
    padding-top: 5px;
    padding-right: 15px;
    width: 280px;
    height: 500px;
    display: inline-table;
}

/*
    Sirve para centrar botones
*/
.btn .btn-success > .boton_centrado {
    width: 120px;
    margin-left: 0px;
    margin-right: 0px;
}

/*
    Animacion de color de item de la barra de navegacion
*/
.nav-item {
    transition: background-color 0.5s;
}

/*
    Cuando el cursor esta sobre un elemento de la barra de navegación cambia de color dicho elemento
*/
    .nav-item:hover {
        background-color:#378b37;
    }


/**
    Color de elemento de barra de navegación seteado a color rojo oscuro
*/
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
    background-color:#378b37;
}

/**
    El texto de padecimiento no es redimensionable, para que el usuario no dañe la interfaz
*/
#padecimiento {
    resize: none;
}
/*
    El mensaje de error de logueo se setea en alieneamiento central, ademas de color rojo oscuro
    y letra en negrita
*/
.login_message {
    text-align: center;
    color: #5a0000;
    font-weight: bold;
}


.vertical_al > * {
    display: inline-block;
    vertical-align: middle;
}

.vertical_al {
    vertical-align: middle;
    position: relative;
}


.txt_center{
    vertical-align:text-bottom;
}


.fix-cell{
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
	vertical-align: middle;
	width: 66%;
}
.fix-cell > *{
    text-overflow: ellipsis;
    overflow: hidden;
}

.fix-cell-right{
    text-overflow: ellipsis;
    display: inline-block;
	vertical-align: middle;
	width: 33%;
}






.dialogdemoBasicUsage #popupContainer {
  position: relative; }

.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }

.dialogdemoBasicUsage button {
  width: 200px; }

.dialogdemoBasicUsage div#status {
  color: #c60008; }







/*
    Es el panel de navegacion en la seccion de productos
*/
.product_sidebar_panel {
    top: 50px; /*Es el ancho de la barra de navegacion*/
    left: -280px; /*Es el lugar en donde se ocultara la barra*/
    background-color: #ba2c2c;
    width: 300px;
    height: 100%;
    position: fixed;
    transition: left 1s,background-color 0.5s;
}

    .product_sidebar_panel:hover {
        background-color: #dd3c3c;
        top: 50px; /*Es el ancho de la barra de navegacion*/
        left: 0px; /*Es el lugar en donde se ocultara la barra*/
    }


a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}


.list-group-item {
    transition: background-color 0.5s,color 0.5s;
}

a.list-group-item:hover, a.list-group-item:focus:hover{
    background-color:#77ae3f;
    color:#ddf3dd;
}

a.list-group-item.active, a.list-group-item.active:hover{
    background-color:#5ba45b;
    color:#ddf3dd;
    border-color:#378b37;
}

.panel-default > .panel-heading{
    background-color:#378b37;
    color:#ddf3dd;
    transition:background-color 0.5s,color 0.5s;
}

.panel {
    margin-bottom: 0px;
}

.panel-default > .panel-heading:hover{
    background-color:#378b37;
    color:#c0f3c0;
}

.product-element-grid {
    width: 250px;
    height: 250px;
    border-style: solid;
    border-color: #ffd2d2;
    display: inline-block;
    vertical-align: middle;
}

.product-row {
    max-width: 1012px;
    min-width: 253px;
}

.product-column {
    padding-top: 5px;
    padding-right: 10px;
    width: 255px;
    height: 500px;
    display: inline-table;
}
/*
    Para la vista de edicion de productos
*/
.button-list {
    min-width: 130px;
    max-width: 490px;
}

.button-item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
}

.input_grande {
    width: 100%;
}

.botones_administrador {
    width:760px;
}

@media (max-width: 361px) {

    .login_panel {
        width: 260px;
        display: inline-block;
        margin-bottom: 3px;
        margin: 0px auto;
    }

    .login_component {
        width: 228px;
        display: inline-block;
        margin: 0px auto;
        margin-bottom: 3px;
    }

    .auxiliar_component {
        width: 228px;
        margin: 0px auto;
        margin-bottom: 3px;
    }
}




@media (max-width: 801px) {
    .presentation_header {
        font-size: 18pt;
    }
}



/*
    BugFix #1: descripcion, el navbar tapaba 
    parte de la pantalla en algunas resoluciones de pantalla
    Solucion: este bloque de codigo
 */

@media (max-width: 991px) {
    .auxiliar_component {
        width: 100%;
    }

        .auxiliar_component > * {
            max-width: 700px;
            min-width: 250px;
        }

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

        .navbar-collapse.collapse {
            display: none !important;
        }

    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }

    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .collapsing {
        overflow: hidden !important;
    }
}

/*BugFix #1 END;*/


/*
    Administrator options
*/


.yes-no-btn.yes.btn.btn-danger.active{
    background-color:#449d44;
    border-color:#398439;
    color:#fff;
}

.yes-no-btn.no.btn.btn-danger.active{
    background-color:#be2a2a;
    border-color:#ce2a2a;
    color:#fff;
}


.yes-no-btn.yes.btn.btn-danger{
    background-color:#ddd;
    border-color:#ccc;
    color:#333;
}

.yes-no-btn.no.btn.btn-danger{
    background-color:#ddd;
    border-color:#ccc;
    color:#333;
}


.workspace{
	width: 100%;
    display:inline;
}

.workspace> .admin{
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 10em;
    padding-top: 30px;
    width: 100%;
    
}


.admin> .jumbotron.well{
	color: #333;
	display: inline-block;
	width: 300px;
	background-color: #EAEAEA;
	border: 3px solid;
	border-color: #8cbf8c;
    padding: 20px;
}

.administrator-icon{
	display: block;
	height: 250px;
	width: 250px;
	margin: 0 auto;
}



.outer-center {
    float: right;
    right: 50%;
    position: relative;
}
.inner-center {
    float: right;
    right: -50%;
    position: relative;
}
.clear {
    clear: both;
}


.selectable-box.jumbotron.well{
	transition: background-color 0.5s, color 0.5s;
    height: 400px;
}

.selectable-box.jumbotron.well>div.description{
    text-align:center;
    margin-left:-140px;
    height:0px;
    opacity:0;
    transition: height linear 0.2s,opacity linear 0.2s,margin-left linear 0.4s;
}

.selectable-box.jumbotron.well:hover>div.description{
    height:40px;
    opacity:1;
    margin-left:0px;
}

.selectable-box.jumbotron.well:hover{

	background-color: #519351;
	color: #FFF;
	
}

#welcome{
    animation: TheWelcome 1s linear;
}

@keyframes TheWelcome{
    from{
        opacity:0;
        margin-left: -1200px;
    }
    to{
        opacity:1;
        margin-left: 0px;
    }
}

#DineroRecibidoCaja {
  transition: all linear 0.3s;
  position: relative;
  height:40px;
}

#DineroRecibidoCaja.ng-hide {
  height: 0;
  opacity:0;
}




@media (max-width: 1213px) {
.admin{
	width: 909px;
}

@media (max-width: 910px) {
    .admin {
            width: 606px;
    }
}


@media (max-width: 607px) {
    .admin{
	    width: 300px;
    }
    .botones_administrador {
        width: 200px;
    }

    .botones_administrador .boton {
            width: 200px;
            display: inline-block;
            margin-bottom: 3px;
            margin: 0px auto;
        }

}


