@{
    ViewBag.Title = "Administrador Proveedores";
}
<div class="container body-content">
    <a class="btn btn-danger" href="/Administrador"><span class="glyphicon glyphicon-circle-arrow-left"></span> Atras</a>
</div>
    @RenderPage("~/Views/WebUtils/CrearProovedor.cshtml")
<hr />
@RenderPage("~/Views/WebUtils/AdministrarProovedores.cshtml")
