
@{
    ViewBag.Title = "Administrar Productos";
}


<div class="container body-content">
    <a class="btn btn-danger" href="/Administrador"><span class="glyphicon glyphicon-circle-arrow-left"></span> Atras</a>
    @RenderPage("~/Views/WebUtils/CrearProducto.cshtml")
</div>
    <hr style="background:#4cff00" />
<div class="container body-content">
    @RenderPage("~/Views/WebUtils/AdministrarProductos.cshtml")
</div>
<hr style="background:#4cff00" />
<div class="container body-content">
    @RenderPage("~/Views/WebUtils/AbastecerSucursal.cshtml")
    <br /><br /><br /><br /><br />
</div>



