@RenderPage("~/Views/WebUtils/AdministratorOptions.cshtml")
<!--
<div class="container body-content">
    <div ng-controller="ctrl" ng-init="showSucursals()" class="list-group">
        <div ng-repeat="sucursal in sucursals" class="list-group-item">
            {{sucursal.Nombre_sucursal}}
        </div>
    </div>
    <div ng-controller="ctrl" ng-init="showUsers()" class="list-group">
        <div ng-repeat="user in users" class="list-group-item">
            {{user.Nickname}}
        </div>
    </div>
</div>
-->