
@{
    ViewBag.Title = "Abastecer Sucursal";
}

<h2>Abasteces Sucursal</h2>


<form>
    <div class="auxiliar_component center-block">
        <label for="Sucursal">Sucursal: </label>
        <select id="Sucursal" class="form-control"></select>
    </div>

    <div class="auxiliar_component center-block">
        <label for="Producto">Producto: </label>
        <select id="Producto" class="form-control"></select>
    </div>

    <div class="auxiliar_component center-block">
        <label for="Cantidad">Cantidad: </label>
        <input id="Cantidad" placeholder="Cantidad del producto" class="form-control" type="number" min="1" value="1" />
    </div>


    <br />

</form>