
@{
    ViewBag.Title = "AdministrarProovedores";
}

<h2 class="text-center">Administrar Proovedores</h2>


<form name="administrarProveedores" ng-controller="AdministratorController">
    <h3 class="text-center">Datos del Proovedor</h3>

    <div class="auxiliar_component center-block">
        <div class="auxiliar_component center-block">
            <label for="Proovedor">Proovedor: </label>
            <select ng-required="true" ng-init="getProviders()" ng-model="providerSelected" ng-options="provider.Nombre_proveedor for provider in providers" id="Proovedor" class="form-control"></select>
        </div>
        <div class="auxiliar_component">
            <label for="NombreProovedorE">Nombre de proveedor: </label>
            <input ng-required="true" ng-model="providerSelected.Nombre_proveedor" placeholder="Nuevo nombre del proovedor" class="form-control" type="text" />
        </div>
        <div class="auxiliar_component">
            <label for="TelProovedor">Telefono del proveedor: </label>
            <input ng-required="true" ng-model="providerSelected.Telefono_proveedor" id="TelProovedor" placeholder="Telefono del proovedor" class="form-control" type="number" />
        </div>
        <div class="auxiliar_component">
            <label for="DireccionProovedor">Direccion del proveedor: </label>
            <input ng-required="true" ng-model="providerSelected.Direccion_proveedor" id="DireccionProovedor" placeholder="Direccion del proovedor" class="form-control" type="text" />
        </div>
    </div>

    <div class="auxiliar_component center-block">
        <div class="botones_administrador center-block">
            <button ng-click="getProviders()" class="btn btn-success boton" type="button">
                <span class="glyphicon glyphicon-erase"></span> Limpiar Busqueda
            </button>
            <button ng-click="administrarProveedores.$valid && UpdateProvider()" class="btn btn-primary boton" type="submit">
                <span class="glyphicon glyphicon-cloud-upload"></span> Actualizar Proveedores
            </button>
            <button ng-click="administrarProveedores.$valid && RemoveProvider()" class="btn btn-danger boton" type="submit">
                <span class="glyphicon glyphicon-remove"></span> Eliminar Proveedores
            </button>
        </div>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br />

</form>
