
@{
    ViewBag.Title = "CrearProovedor";
}

<h2>Crear Proovedor</h2>


<form>
    <h3>Datos del Proovedor</h3>

    <div class="auxiliar_component center-block">
        <div class="form-inline">
            <label for="NombreProovedor">Nombre de proovedor: </label>
            <input id="NombreProovedor" placeholder="Nombre de proovedor" class="form-control" type="text" />
        </div>
    </div>

    <div class="auxiliar_component center-block">
        <label for="TelProovedor">Telefono proovedor: </label>
        <input id="TelProovedor" placeholder="Telefono del proovedor" class="form-control" type="text" />
    </div>
    <div class="auxiliar_component center-block">
        <label for="DireccionProovedor">Direccion del proovedor: </label>
        <input id="DireccionProovedor" placeholder="Direccion del proovedor" class="form-control" type="text" />
    </div>

    <br />

    <button class="btn btn-success center-block" type="submit">
        <span class="glyphicon glyphicon-check"></span> Crear Proovedor
    </button>

</form>

