
@{
    ViewBag.Title = "Crear Sucursal";
}

<h2 class="text-center" >Crear Sucursal</h2>

<form ng-controller="AdministratorController" ng-init="cleanBranchOffice()">
    <div class="center-block">
        <div class="auxiliar_component center-block">
            <label for="NombreSucursal">Nombre: </label>
            <input ng-model="branchOfficeSelected.Nombre_sucursal" id="NombreSucursal" placeholder="Nombre de la sucursal" class="form-control" type="text" max="20" />
        </div>
        <div class="auxiliar_component center-block">
            <label for="NumeroTelSucursal">Telefono: </label>
            <input ng-model="branchOfficeSelected.Telefono_sucursal" id="NumeroTelSucursal" placeholder="Numero de telefono, sucursal" class="form-control" type="number" min="1" value="1" />
        </div>


        <div class="auxiliar_component center-block">
            <label for="ProvinciaSucursal">Direccion de Sucursal: </label>
            <input ng-model="branchOfficeSelected.Direccion_sucursal" id="ProvinciaSucursal" placeholder="Direccion de sucursal" class="form-control" type="text" max="100"/>
        </div>
    <br />
    <button ng-click="addBranchOffice()" class="btn btn-success center-block" type="submit">
        <span class="glyphicon glyphicon-ok-circle"></span> Crear Sucursal
    </button>
    </div>

</form>
