<div class="container" style="padding:0px;">
    <div class="col-md-8">
        <div class="jumbotron well">
            <div style="display:inline-block;">
                <img src="~/icons/basket_shopping.png" style="height:100px;width:100px;display:inline-block;" />
                <h2>
                    Bienvenido a Puntos de venta Phishel Farmatica!
                </h2>
                <p>
                    La plataforma web, donde las ventas de medicamentos es posible. Salud para su casa y su familia, ese es nuestro lema.<br />
                    ¡Gracias por confiarnos su salud!
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-success login_panel">
            <div class="panel-heading">
                Ingresar/Registrarse
            </div>
            <div class="panel-body">
                <div>
                    <form name="logeoUsuario" class="form-horizontal" role="form">
                        <!--Este es el input donde se ingresa el nombre de usuario-->
                        <input ng-required="true" ng-model="usuarioLogin.NombreUsuario" class="login_component form-control center-block" placeholder="ingrese su nombre de usuario" id="Text1" type="text" />
                        <!--Este es el input donde se ingresa la contrasenia de usuario-->
                        <input ng-required="true" ng-model="usuarioLogin.Contrasena" type="password" class="login_component form-control center-block" placeholder="contraseña" id="Text1" />
                        <div class="form-row login_component center-block">
                            <div class="input-group">
                                <span class="input-group-addon">&cent;</span>
                                <input ng-required="true" ng-model="cajero.dineroInicial" type="number" class="form-control" placeholder="Dinero de la caja" id="dinero" />
                            </div>
                        </div>

                        <!--Este es el boton que el usuario utilizara para poder ingresar al sistema de farmacias-->
                        <!-- Error de seleccion arreglado
        solucion encontrada en
        http://stackoverflow.com/questions/20870671/bootstrap-3-btn-group-lose-active-class-when-click-any-where-on-the-page
         -->
                            <div class="btn-group btn-group-justified login_component center-block">
                                <a ng-click="usuarioLogin.TipoUsuario = Paciente" href="#" class="btn btn-primary active">Cajero</a>
                                <a ng-click="usuarioLogin.TipoUsuario = Administrador" href="#" class="btn btn-primary">Administrador</a>
                            </div>

                            <button ng-click="logeoUsuario.$valid && ingresar()" class="login_component btn btn-success center-block" id="Button1">Ingresar</button>
                            <p class="login_message">{{loginMessage}}</p>


                            <a href="/Home/Registrarse" class="login_component btn btn-warning center-block" id="registro" type="button">Registrarse</a>
</form>
                </div>
            </div>
        </div>
    </div>

</div>
