
@{
    ViewBag.Title = "Manejo Sucursal";
}

<h2  class="text-center" >Ver/Actualizar/Borrar Sucursal</h2>

<form ng-controller="AdministratorController" ng-init="getBranchOffices()">
    <div class="auxiliar_component center-block">
            <label for="NumeroSucursal">Sucursal: </label>
            <select id="NumeroSucursal" ng-model="branchOfficeSelected" ng-options="branchOffice.Nombre_sucursal for branchOffice in branchOffices" placeholder="Numero de sucursal" class="form-control" type="number" min="1" value="1" ></select>
    </div>


    <div class="auxiliar_component center-block">
        <label for="NombreSucursal">Nombre: </label>
        <input ng-model="branchOfficeSelected.Nombre_sucursal" id="NombreSucursal" placeholder="Nombre de la sucursal" class="form-control" type="text" max="20" />
    </div>

    <div class="auxiliar_component center-block">
        <label for="NumeroTelSucursal">Telefono: </label>
        <input ng-model="branchOfficeSelected.Telefono_sucursal" id="NumeroTelSucursal" placeholder="Numero de telefono, sucursal" class="form-control" type="number" min="1" value="1" />
    </div>


    <div class="auxiliar_component center-block">
        <label for="ProvinciaSucursal">Direccion de Sucursal: </label>
        <input ng-model="branchOfficeSelected.Direccion_sucursal" id="ProvinciaSucursal" placeholder="Direccion de sucursal" class="form-control" type="text" max="100"/>
    </div>
    <br />
    <div class="auxiliar_component center-block">
        <div class="botones_administrador center-block">
            <button ng-click="getBranchOffices()" class="btn btn-success boton" type="button">
                <span class="glyphicon glyphicon-erase"></span> Limpiar Busqueda
            </button>
            <button ng-click="UpdateBranchOffice()" class="btn btn-primary boton" type="submit">
                <span class="glyphicon glyphicon-cloud-upload"></span> Actualizar Sucursal
            </button>
            <button ng-click="RemoveBranchOffice()" class="btn btn-danger boton" type="submit">
                <span class="glyphicon glyphicon-remove"></span> Eliminar Sucursal
            </button>
        </div>
    </div>
    


</form>
