

<h2 class="text-center">Manejo Empleados</h2>

<form>
    <h3 class="text-center">Datos del empleado</h3>

    <div class="auxiliar_component center-block">
        <div class="form-inline">
            <label for="CedulaEmpleado">C&eacute;dula: </label>
            <input id="CedulaEmpleado" placeholder="Numero de cedula empleado" class="form-control" type="number" min="1" value="1" />
            <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-search"></span></button>
        </div>
    </div>


    <div class="auxiliar_component center-block">
        <label for="NombreEmpleado">Nombre: </label>
        <input id="NombreEmpleado" placeholder="Nombre del empleado" class="form-control" type="text" />
    </div>
    <div class="auxiliar_component center-block">
        <label for="Apellido1Empleado">Primer Apellido: </label>
        <input id="Apellido1Empleado" placeholder="Apellido del empleado" class="form-control" type="text" />
    </div>
    <div class="auxiliar_component center-block">
        <label for="Apellido2Empleado">Segundo Apellido: </label>
        <input id="Apellido2Empleado" placeholder="Segundo Apellido del empleado" class="form-control" type="text" />
    </div>

    <div class="auxiliar_component center-block">
        <label for="NumeroTelEmpleado">Telefono: </label>
        <input id="NumeroTelEmpleado" placeholder="Numero de telefono, empleado" class="form-control" type="number" min="1" value="1" />
    </div>

    <div class="auxiliar_component center-block">
        <label for="FechaNacEmpleado">Telefono: </label>
        <input id="FechaNacEmpleado" placeholder="Fecha nacimiento, empleado" class="form-control" type="date"/>
    </div>


    <div class="auxiliar_component center-block">
        <label for="SalarioEmpelado">Salario del empleado: </label>
        <input id="SalarioEmpelado" placeholder="Salario del empleado" class="form-control" type="number" min="1" value="1" />
    </div>


    <div class="auxiliar_component center-block">
        <label for="ProvinciaSucursal">Provinicia de Sucursal: </label>
        <select id="ProvinciaSucursal" placeholder="Provincia de sucursal" class="form-control" type="text"></select>
    </div>


    <div class="auxiliar_component center-block">
        <label for="NombreDeSucursal">Nombre de Sucursal: </label>
        <select id="NombreDeSucursal" placeholder="Nombre de sucursal" class="form-control" type="text"></select>
    </div>
    <br />
    <div class="auxiliar_component center-block">
        <div class="botones_administrador center-block">
            <button class="btn btn-success boton" type="submit">
                <span class="glyphicon glyphicon-erase"></span> Limpiar Busqueda
            </button>
            <button class="btn btn-primary boton" type="submit">
                <span class="glyphicon glyphicon-cloud-upload"></span> Actualizar Empleado
            </button>
            <button class="btn btn-danger boton" type="submit">
                <span class="glyphicon glyphicon-remove"></span> Eliminar Empleado
            </button>
        </div>
    </div>



</form>
