
@{
    ViewBag.Title = "Ventas";
}

<form class="form-group center-block">
    <div class="form-inline center-block login_component center-block">
        <input placeholder="Codigo del producto" class="form-control" type="text"/>
        <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-plus"></span></button>
    </div>
    <div class="form-group center-block">
        <h3>Lista de Productos</h3>
        <ul class="list-group" ng-controller="ctrl" ng-cloak>
            <li class="list-group-item" ng-repeat="producto in productos">
                <div class="clearfix">
                    <div class="fix-cell">
                        <h4>El producto {{producto}}</h4>
                    </div>
                    <div class="fix-cell-right">
                        <div class="pull-right">
                            <input type="number" class="form-control" min="1" style="display:inline-block;width:70px;" />
                            <a class="btn btn-danger" ng-click="showPrompt($event,$index)"><span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                        
                    </div>
                </div>
            </li>
        </ul>
    </div>
</form>